.panel.panel-primary#main
  .panel-heading
    %h3.panel-title Weather
  .table_wrapper
    %table.table.table-striped.table-bordered#weather_table
      %thead
        %tr
          %th Location
          %th Temp(F)
          %th Latitude
          %th Longitude
          %th Weather
          %th Wind Direction(deg)
          %th Station
          %th Elevation(ft)
          %th UV Index
      %tbody
